.main-content {
    height: 85%;
    width: 100%;
    display: inline-flex;
    margin-top: 15%;
}

.intro-container {
    width: 60%;
    height: 100%;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
}

.intro-container h1 {
    font-size: 2.5em;
    color: #241b57;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1em;
}

.intro-container h1:after {
    bottom: -24px;
    left: 0;
    width: 40px;
    height: 4px;
    content: '';
    border-radius: 5px;
    background: #ec4357;
    opacity: 0.4;
    position: absolute;
}

.intro-container p {
    margin-bottom: 1em;
    position: relative;
    font-size: 1.125em;
    line-height: 2em;
    text-decoration: none;
    color: #69665e;
}

.intro-container #submit-form {
    background-color: #ec4357;
    color: #F8F8F8;
    position: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    width: 50%;
    height: 8%;
    border-radius: 20px;
    border: none;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.intro-container #submit-form:hover {
    background-color: #171717;
    color: #ec4357;
}

.image2-container {
    width: 40%;
    height: 100%;
    float: right;
    vertical-align: center;
    padding-right: 10%;
}

.image2-container img {
    margin: 30px auto;
    width: auto;
    height: 50%;
    vertical-align: center;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.image2-container img:hover {
    transform: scale(1.2);
}
