{% extends 'base/template.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/mainPage.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="main-content">
    <div class="intro-container">
        <h1>Welcome to Cloud Dev</h1>

        <p>Have you ever wanted a full stack website? Well <br>
            then you need not look further. We provide a   <br>
            website catered exactly to your needs made to  <br>
            near perfection. We work with you to design what <br>
            you need and want.
        </p>


        <button id="submit-form" onclick="window.location.href = `{% url 'base-sendEmail' %}`">Submit A Purchase Form</button>
    </div>
    <div class="image2-container">
        <img src="{% static 'images/undraw_Around_the_world_re_n353.png' %}" alt="Around the world =)">
    </div>
</div>
{% endblock content %}
